.feed_posts{
  display: flex;
  flex-direction: column;
}

.feed_button-create-post{
  color: #00ad5f;
  border: 1px solid #00ad5f;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 16px;
  position: relative;
  left: 58%;
  //transform: translate(-50%, 0);
  cursor: pointer;
  background-color: #fff;
  transition: all .3s linear;
}

.feed_button-create-post:hover {
  color: #fff;
  border: 1px solid #00ad5f;
  background-color: #00ad5f;
}
