.feed_profile-menu {
  padding: 20px;
}

.feed_profile-card {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed_profile-card .feed_profile-pic {
  flex: 0 0 auto;
  padding: 0;
  background: none;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.feed_profile-card .feed_profile-pic img {
  border: none;
}
.feed_profile-action-btn{
  width: 70px;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-size: 16px;
  color: #007fb9;
}

.feed_profile-card .feed_username-profile {
  font-weight: 500;
  font-size: 14px;
  color: #000;
}

.feed_profile-sub-text {
  font-size: 12px;
  font-weight: 500;
  margin-top: -18px;
}

.feed_profile-action-btn {
  opacity: 1;
  font-weight: 700;
  font-size: 12px;
}

.feed_profile-suggestion-text {
  font-size: 14px;
  font-weight: 700;
}