<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Create post</title>
    <link rel="stylesheet" href="../../../../styles/components/feed/createPost/style.css">
</head>

<body>

<div class="create-new-post">
    <h3>Create new post</h3>
    <div class="create-new-post_group-name">
        <label class="create-new-post_label">Title</label>
        <div class="create-new-post_input">
            <input type="text" name="Name" class="create-new-post_form-control" required>
        </div>
    </div>
    <div class="create-new-post_group-name">
        <label class="create-new-post_label">Your image</label>
        <div class="create-new-post_input">
            <input type="file" name="file" class="create-new-post_form-control" required>
        </div>
    </div>
    <div class="create-new-post_group-name">
        <label class="create-new-post_label">Your comment</label>
        <div class="create-new-post_input">
            <textarea name="Message" class="create-new-post_form-control" rows="6" maxlength="3000" required></textarea>
        </div>
    </div>
    <div class="create-new-post_group-name">
        <button type="submit" class="create-new-post create-new-post_button create-new-post_primary-color">Send
            Message
        </button>
    </div>
</div>
</div>

</body>
</html>